
.gi-twitter:before { content: '\f099'; } /* '' */
.gi-github:before { content: '\f09b'; } /* '' */
.gi-instagram:before { content: '\f16d'; } /* '' */
.gi-weibo:before { content: '\f18a'; } /* '' */
.gi-slack:before { content: '\f198'; } /* '' */