{% extends 'includes/skeleton_archive.html' %}

{% macro seo_title() %}{{ fp(config.site_name) }}{% endmacro %}
{% block title %}{{ seo_title() }}{% endblock title %}
{% block og_title %}{{ seo_title() }}{% endblock %}
{% block og_description %}{{ fp(config.description) }}{% endblock %}
{% block og_url %}{{ Router.gen_permalink('index', '', current_page) }}{% endblock %}
{% block twitter_title %}{{ seo_title() }}{% endblock %}

{% block page_title %}RECENT POSTS{% endblock page_title %}

{% block pager %}
    <section id="content-pager">
        {% if current_page > 1 %}
            <div class="next">
                <a class="card" href="{{ Router.gen_permalink('index', '', current_page-1) }}">
                    <span class="meta">Previous</span>
                    <span>PAGE {{ current_page-1 }}</span>
                </a>
            </div>
        {% endif %}
        {% if current_page < max_pages %}
            <div class="prev">
                <a class="card" href="{{ Router.gen_permalink('index', '', current_page+1) }}">
                    <span class="meta">Next</span>
                    <span>PAGE {{ current_page+1 }}</span>
                </a>
            </div>
        {% endif %}
    </section>
{% endblock pager %}

{% block sidebar %}
    {{ build_sidebar() }}
{% endblock sidebar %}
