header {
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    border-bottom: 1px solid #d4dadf;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    @media screen and (max-width: $breakMiddle) {
        .toggle-toc {
            display: inline-block;
            margin-right: 1.5rem;
            font-size: 16px!important;
        }
    }
    @media screen and (max-width: $breakSmall) {
        .toggle-navbar {
            display: inline-block;
            margin-right: 1.5rem;
            font-size: 16px!important;
        }
    }
}

@media screen and (max-width: $breakMiddle) {
    body.archive .toggle-toc {
        display: none!important;
    }
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    overflow-x: auto;
    section {
        height: 100%;
        display: flex;
        white-space: nowrap;
        align-items: center;
    }
    section:nth-of-type(1) {
        @include fixWidth($sidebarWidth);
        a {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
            color: black;
            &:hover {
                color: $highlightColor;
            }
        }
        img {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }
    section:nth-of-type(2) {
        flex: 1;
        position: relative;
        padding: 0 60px;
        max-width: calc(100% - 2 * #{$sidebarWidth});
        &::before, &::after {
            content: "";
            top: 50%;
            right: 0;
            height: 40px;
            width: 1px;
            position: absolute;
            transform: translateY(-50%);
            background: #E6ECF1;
        }
        &::before {
            left: 0;
        }
        &::afte {
            right: 0;
        }
        nav {
            height: 100%;
            display: flex;
            align-items: center;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            white-space: nowrap;
            li {
                display: inline-block;
                text-transform: uppercase;
                margin: 0 1rem;
                &:first-of-type {
                    margin-left: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
                a {
                    color: $highlightColor;
                    &:hover {
                        color: $highlightColor-dark;
                    }
                }
                
            }
        }
    }
    section:nth-of-type(3) {
        @include fixWidth($sidebarWidth);
        padding: 0 20px;
        font-size: 20px;
        button {
            cursor: pointer;
            border: none;
            background: none;
            padding: 0;
            &::after {
                content: "Search...";
                font-size: 16px;
                font-weight: 500;
                color: $textColor-fade;
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}

@media screen and (max-width: $breakMiddle) {
    header > .container {
        justify-content: flex-start;
        section:nth-of-type(2) {
            max-width: unset;
        }
        section:nth-of-type(3) {
            min-width: unset;
            width: min-content;
            padding-right: 0;
            justify-content: flex-end;
        }
    }
}

@media screen and (max-width: $breakSmall) {
    header > .container {
        justify-content: space-between;
        section:nth-of-type(1) {
            min-width: unset;
            width: unset;
        }
        section:nth-of-type(2) {
            display: none;
        }
        section:nth-of-type(3) {
            flex: 1;
            button::after {
                display: none;
            }
        }
    }
}
