#content-wrapper {
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    padding: 120px 60px 0 60px;
    background: #fff;
    display: flex;
    @include fixWidth(100%);
    min-width: unset;
    min-height: 100vh;
    overflow: hidden;
    border-left: 1px solid #d4dadf;
    @media screen and (max-width: $breakSmall) {
        border: none;
    }
    @media screen and (max-width: $breakSmall - 0.5) {
        padding: 120px 20px 0 20px;
    }
    flex: 1;
    flex-direction: column;

    footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 2px solid #d4dadf;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $textColor-fade;
        white-space: nowrap;
        overflow-x: auto;
        * {
            color: inherit;
        }
        > span {
            display: block;
            text-align: center;
            flex: 1;
            margin: 0 0.6rem;
        }
        > span:first-of-type {
            text-align: left;
            margin-left: 0;
        }
        > span:last-of-type {
            text-align: right;
            margin-right: 0;
        }
    }

    #content {
        flex: 1;
        > section > h1 {
            margin-top: 0;
            font-size: 32px;
            font-weight: 500;
            &.page-title {
                padding-bottom: 40px;
                border-bottom: 2px solid #E6ECF1;
            }
        }
        > section > p.post-meta {
            display: flex;
            justify-content: space-between;
            color: $textColor-fade;
            font-weight: 600;
            padding-bottom: 40px;
            white-space: nowrap;
            overflow: auto;
            border-bottom: 2px solid #E6ECF1;
            * {
                color: inherit;
            }
            .tags > span {
                display: inline-block;
                margin-left: 1rem;
            }
        }
        > section > div#content-list,
        > section > article {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    
    #content-list {
        .sub-cates {
            margin-bottom: 40px;
            padding-bottom: 40px;
            position: relative;
            &::after {
                content: "";
                width: calc(100% - 8px);
                height: 2px;
                display: block;
                background: #e6ecf1;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .card-list {
            display: flex;
            flex-flow: row wrap;
            margin-left: -8px;
            .card {
                margin: 0 0 8px 8px;
                /* 2个 */
                width: 100%;
                @media screen and (min-width: 768px) {
                    /* 3个 */
                    width: calc(50% - 8px);
                }
            }
        }
    }
    
    #content-pager {
        display: flex;
        margin-top: 40px;
        padding-top: 40px;
        border-top: 2px solid #e6ecf1;
        margin-bottom: 40px;
        > div {
            flex: 1;
            margin: 0 8px;
            .card {
                margin: 8px 0;
            }
            &:first-of-type {
                margin-left: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
            .card {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: $breakSmall) {
    #content-wrapper {
        transition: $animationTime $animationTimingFunc transform;
        .navbar-open & {
            transform: translateX($sidebarWidth);
        }
    }
}

@media screen and (max-width: $breakSmall - 0.5) {
    #content-pager {
        flex-direction: column;
        margin-left: 0!important;
        > div {
            margin-left: 0!important;
            margin-right: 0!important;
        }
        .card {
            margin-left: 0!important;
            margin-right: 0!important;
        }
    }
}