
main > .container > aside {
    top: 0;
    padding-top: 120px;
    position: sticky;
    overflow-y: auto;
    @include fixWidth($sidebarWidth);
    @include fixHeight(100vh);
    &#navbar {
        display: flex;
        flex-direction: column;
        > section {
            position: relative;
            padding-bottom: 1.5rem;
            margin-bottom: 1.5rem;
            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 50px;
                height: 3px;
                background: #d4dadf;
                left: 1rem;
                bottom: 0;
            }
            &:last-of-type::after {
                display: none;
            }
            &.maverick {
                margin-right: 1rem;
                text-align: center;
                margin-left: 1rem;
                flex: 1;
                display: flex;
                align-items: flex-end;
                margin-bottom: 0;
                @media screen and (max-width: $breakSmall - 0.5) {
                    .safari & {
                        margin-bottom: 120px;
                    }
                }
                div {
                    width: 100%;
                }
                div > span {
                    border: none!important;
                    a {
                        background: #E6ECF1;
                        color: #9DAAB6;
                        border-radius: 5px;
                    }
                    a:hover {
                        color: #3884FF;
                    }
                }
            }
        }
        a, button {
            padding: 12px 16px; // 扩大点击范围
            white-space: nowrap;
            display: inline-block;
            &:hover {
                color: $highlightColor;
            }
        }
        span, li {
            border-left: 1px solid #d4dadf;
            &:hover {
                background: #fff;
            }
            a {
                flex: 1;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.current-post {
                background: #fff;
                > a {
                    color: $highlightColor;
                }
            }
        }
        > section > div > span{
            border: none; // 第一级不显示缩进标记线
        }
        > section > div > ul * {
            color: #9DAAB6;
        }
        div > ul {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            padding-left: 1rem;
        }
        div > span {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            > button {
                cursor: pointer;
                background: none;
                border: none;
                outline: none;
                :visited {
                    outline: none;
                }
                &.toggle_sidebar::before {
                    content: "\f105";
                }
            }
        }
        div.open > ul {
            display: block;
        }
        div.open > span > button.toggle_sidebar::before {
            content: "\f107";
        }
        div.current > span,
        li.current {
            background: #fff;
            border: 1px solid #d4dadf;
            border-right: none;
            > a {
                color: $highlightColor;
            }
        }
        div.external {
            > span:hover {
                * {
                    color: $highlightColor;
                }
            }
        }
        @media screen and (max-width: $breakSmall) {
            section.sidebar-external-link {
                display: block;
            }
        }
    }
    &#toc-container {
        background: #fff;
        padding-bottom: 24px;
        > span {
            display: block;
            margin-bottom: 1.3rem;
            font-size: 14px;
            font-weight: 600;
            color: #9DAAB6;
        }
        #toc {
            position: relative;
            line-height: 1.7;
            color: #9DAAB6;
            padding-right: 1rem;
            ol, ul {
                list-style: none;
                li {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .toc-link::before {
                height: calc(1em * 1.7);
            }
            .is-active-link {
                color: $highlightColor;
            }
            a:hover {
                color: $highlightColor;
            }
        }
    }
}

@media screen and (max-width: $breakMiddle) {
    aside#toc-container {
        position: fixed;
        z-index: 1;
        display: none;
        #toc {
            margin: 0;
            padding: 0;
        }
        .toc-open & {
            display: block;
            top: 100px;
            border: 3px solid;
            padding: 20px;
            min-height: 0;
            height: min-content;
            height: revert; // fix Safari
            max-height: calc(100vh - 160px);
            right: 20px;
            min-width: unset;
            width: 250px;
            box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
            border: 1px solid rgb(211, 220, 228);
            border-radius: 4px;
        }
    }
}

@media screen and (max-width: $breakSmall) {
    aside#navbar {
        transition: $animationTime $animationTimingFunc left;
        position: fixed;
        top: 0;
        left: -$sidebarWidth;
        .navbar-open & {
            left: 0;
        }
    }

    .toc-open aside#toc-container {
        max-height: calc(100vh - 240px);
    }
}
