$sidebarWidth: 300px;
$mainWidth: 1450px;

$breakMiddle: 1200px;
$breakSmall: 900px;

$textColor: #3B454E;
$textColor-fade: rgba(#000, 0.3);
$highlightColor: rgb(66, 185, 131);
$highlightColor-dark: hsl(152.79999999999995, 47.4%, 34.5%);

$animationTime: 0.35s;
$animationTimingFunc: cubic-bezier(.25,.46,.45,.94);

@mixin fixWidth($width) {
    width: $width;
    min-width: $width;
    max-width: $width;
}

@mixin fixHeight($height) {
    height: $height;
    min-height: $height;
    max-height: $height;
}
